label {
	margin-right: 1em;
}
.panel-heading {
	padding-top: 3px;
	padding-bottom: 3px;
}
.panel-body {
	padding: 3px 1em;
}
.panel-body .form-group {
	margin-bottom: 3px;
}
.panel {
	margin-bottom: 3px;
}